{{- if .Values.cronjob.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "quakewatch.fullname" . }}-healthcheck
spec:
  schedule: {{ .Values.cronjob.schedule | quote }}
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: curl
              image: curlimages/curl:8.5.0
              args:
                - -sS
                - http://{{ include "quakewatch.fullname" . }}:{{ .Values.service.port }}/health
{{- end }}
